body {
    font-family: arial, helvetica, sans-serif;
    overflow-y: scroll;
}

textarea {
    width: 320px;
    height: 250px;
    max-height: 100vh;
    max-width: 100vh;
    background:rgba(230,230,230,0.5);
}

#controls div{
    margin-bottom: 20px;
}

footer {
    position: fixed;
    padding: 2px;
    bottom:0px;
    width: 100%;
    left: 0px;
    right: 0px;
    background:rgba(230,230,230,0.5);
}
