body {
    font-family: arial, helvetica, sans-serif;
    overflow-y: scroll;
}

textarea {
    background:rgba(230,230,230,0.5);
}

#controls div{
    margin-bottom: 20px;
}

#status {
    color: red;
}

footer {
    padding: 2px;
    bottom:0px;
    width: 100%;
    left: 0px;
    right: 0px;
    background:rgba(230,230,230,0.5);
}
