html {
    margin-left: 50px;
    color: WhiteSmoke;
    background-color: dimgray;
}

body {
    font-family: arial, helvetica, sans-serif;
    overflow-y: scroll;
}

#content {
    padding: 50px;
    display: flex;
    flex-direction: row;
}	

textarea {
    position: relative;
    z-index: 2;
    margin-left: 10px;
    margin-right: 15px;
    background: rgb(40,40,40);
}

#loader {
    position: relative;
    background-color: silver;
    border: 1px solid gray;
    width: 100%;
    height: 13px;
    overflow: hidden;
}

#bar {
    position: absolute;
    border-top: 13px solid blue;
    width: 50px;
    height: 0px;
    animation: move 1s linear infinite;
}

@keyframes move {
  0% { left: -50px;}
  100% { left: 100%;}
}

.control > * {
    margin-bottom: 10px;
}

#controls div{
    margin-bottom: 30px;
}

.control button {
    width: 125px;
}

#transform {
    display: flex;
    flex-direction: column;
}

#width, #height {
    width: 80px;
}

#genButton {
    margin-top: 15px;
}

#status {
    color: red;
}

footer {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position:fixed;
    bottom:0px;
    left: 0px;
    right: 0px;
    background:rgba(230,230,230,0.5);
    color: black;
}

footer p {
    margin-left: 50px;
    
}

#author {
    margin-right: 70px;
}

#apis {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

#apis p{
    float: left;
}
